

/* Set height of body and the document to 100% */

body, html {
  background-color:#2d2d2d;
  /* background-image: url(https://t4.ftcdn.net/jpg/04/42/54/31/240_F_442543151_xBWqYuWP5paaCkaenaWJ3D9aYrbQcBJG.jpg)
  ; */
height: 100%;
margin: 2px;
font-family: Arial;
opacity: 0.9;
}
.homeslite{
  margin-top: 5px;
}

h1{
  font-weight: bold;
  text-align: center;
  text-shadow: #555;
  text-size-adjust: 50px;
  
}
h2{
  font-weight: bold;
  text-align: center;
  color:#ceb0b0;

}
h3{
  font-weight: bold;
  text-align: center;
  color:#ceb0b0;
}
.header1{
  position: absolute;
  right: 2%;
  top:1%;

}
* {box-sizing: border-box}

/* Style tab links */
.tablink {
background-color: #555;
color: white;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 7px 10px;
font-size: 17px;
width: 20%;
}

.tablink:hover {
background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
color:rgb(191, 185, 185);
display: none;
padding: 50px 20px;
width: 100%;


height: 100%;
}

#Home {background-color:#33334d;}
#About {background-color:#33334d ;}
#Acedmic {background-color:#33334d;}
#Event {background-color:#33334d;}
#Culture {background-color:#33334d;}

img{
  border-radius:10px; 
}

p{
  padding-left: 20px;
  font-size: 120%;
  margin:40px;
  margin-top: 30pxl;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.images{
  
img{
  box-shadow: 5px 2px 15px rgba(11, 11, 11, 0.796);
  margin-bottom: 30px;
  /* padding-bottom: 25px; */
  transition: 0.2s;
}
img:hover{
  transform: scale(1.05);
  cursor: pointer;

}
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items:flex-end;

}
.top1{
  display: flex;
}

.mnnit_1{
  color:white;
  text-align: center;
  font-size:40px ;
}